<div id="details">
    <ul>
        <li>
            <label for="name">Account</label>
            <span type="text" id="name" data-bind='text: accountName' />
        </li>
        <li>
            <label for="mcount">Machine count</label>
            <span type="text" id="mcount" data-bind='text: machineCount' />
        </li>
        <li>
            <label for="tcount">Registered machine</label>
            <span type="text" id="tcount" data-bind='text: installedMachineCount' />
        </li>
        <li>
            <label for="acount">Available machine registration</label>
            <span type="text" id="acount" data-bind='text: availableMachineCount' />
        </li>
    </ul>
</div>