@{
    ViewBag.Title = "Confirmation mail sent";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<p>You will receive confirmation email within 3 minutes.</p>
<p>Please note: confirmation email will expire after one day.</p>