@{
    ViewBag.TagTitle = "SamStarter: documentation. Main functionality";
}

<section class="docs">
    <div class="col-md-2">
        <aside></aside>
        <ul>
            <li>
                <a href="/home/docs#introduction">Introduction</a>
            </li>
            <li>
                <a href="/home/docs#main">Main functionality</a>
            </li>
            <li>
                <a href="/home/docs#start">How to start</a>
            </li>
        </ul>
        <aside></aside>
    </div>
    <div class="col-md-10">
        <h1 id="introduction">Introduction</h1>
        <p>
            SamStarter allows you to fulfill all basic requirements of software asset management process in your company.
            It brings altogether assets as users' machines, software and licenses.
            With SamStarter you can monitor license and software usage.
            To start SamStarter you don't need any server installation. All data are processed in our cloud.
            Just create an account for your company and install agents on users' machines.
            After that you will immediately get knowledge of your software knowledge.
        </p>
        <p>
            SamStarter is SaaS solution. No need to build and maintain servers. All data are stored in cloud.
            Free tier offers up to 100 agent installations. For larger installations, please, <a href="/home/contact">contact us</a>.
        </p>
        <h1 id="main">Main functionality</h1>
        <ul>
            <li>
                <strong>
                    User's software discovery
                </strong>
                <p>
                    SamStarter agent collects all installed software on users machine on scheduled basis.
                </p>
            </li>
            <li>
                <strong>
                    License manager
                </strong>
                <p>
                    Collect and store all licenses in one place.
                </p>
            </li>
            <li>
                <strong>
                    Alert notification
                </strong>
                <p>
                    Configure alerts. Get notification about license expiration etc.
                </p>
            </li>
            <li>
                <strong>
                    License usage
                </strong>
                <p>
                    Get information about license and software usage
                </p>
            </li>
        </ul>
        <h1 id="start">How to start software asset management process with SamStarter</h1>
        <h2>Create company account</h2>
        <p>
            On <a href="/account/register">registration page</a> fill main data and receive confirmation email. After that you will be able to log in into SamStarter as administrator of your company.
        </p>
        <h2>Download and install agent</h2>
        <p>
            Download agent's msi installation file from <a href="/administration">administration page</a>. Install agent on users' machine. During installation provide company unique identifier that you have received in the confirmation email.
        </p>
        <h2>Organize company structure</h2>
        <p>
            Create tree structure of your company <a href="/administration/structureunits">here</a>.
        </p>
        <h2>Invite users</h2>
        <p>
            Invite users <a href="/administration/users">here</a>. User will receive invitation email. After that users are able to get information from SamStarter about they machines, installed software and communicate with license manager via 'license requests'
        </p>
        <h2>Grant manager role</h2>
        <p>User can be granted license manager role within particular department/unit or whole company. License managers are able to see all info about users' machines and software.
        <p>
            <h2>Set communication within your company</h2>
        <p>License manager can communicate with users by the license requests.
        <p>
    </div>
</section>