<section class="features">
    <div class="text-center">
        <p class="landing-page-title">Online IT asset management system</p>
        <h1>Proactive software asset management system</h1>
        <div class="spacer30"></div>
        <a href="/Home/Start" class="btn btn-success btn-wide">Start now, it's free</a>
    </div>
</section>