@{
    ViewBag.Title = "Start";
    ViewBag.TagTitle = "SamStarter: start SAM process in your company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="features">
    <div class="text-center">
        <p class="landing-page-title">Online IT asset management system</p>
        <h1>Proactive software asset management system</h1>
        <div class="spacer30"></div>
        <a href="/Account/Register" class="btn btn-success btn-wide">Create a new company</a>
         <div class="spacer30"></div>
        <a href="/Home/Join" class="btn btn-info btn-wide">Join an existing company</a>
    </div>
</section>