@model SWI.SoftStock.WebApplications.Main.Models.FeedbackModel
@{  
    ViewBag.Title = "ThankYouPage";  
}  

<section class="contact">
    <b> Thank you sending your feedback to us.</b>  
</section>
