<script type="text/html" id="PagingPanel">
    Page <input data-bind="value: displayPageIndex" type="text" /> of <span data-bind="text: totalPagesCount" />.
    <br />
    <a href="#back" data-bind="click: back"><</a>
     
    <a href="#next" data-bind="click: next">></a>
</script>
