<hgroup class="title">
    <h1>Remove license from machine</h1>
</hgroup>
<div id="unLicenseSoftwareOnMachine">
    <form data-bind="submit: unLicenseMachine">
        <div class="validation-summary-errors">
            <ul data-bind="foreach: errors">
                <li>
                    <span data-bind="text: $data"> </span>
                </li>
            </ul>
        </div>
        <fieldset>
            <input id="machineId" name="machineId" type="hidden" data-bind='value: machineId'>
            <input id="licenseId" name="licenseId" type="hidden" data-bind='value: licenseId'>
            <div style="margin: 15px 0 15px 15px;">
                <span>Remove license </span><span class="itemname" data-bind='text: licenseName'></span><span> from machine </span><span class="itemname" data-bind='text: machineName'></span><span>?</span>
            </div>
            <div>
                <input type="submit" value="Remove" />
            </div>
        </fieldset>
    </form>
</div>
