@{
    ViewBag.Title = "User";
    Layout = "../Shared/AdministrationLayout.cshtml";
}

<link rel="stylesheet" href="/ui/jstree/themes/style.min.css" />
<script src="/ui/jstree/jstree.min.js"></script>

<script src="~/app/js/userlogic.js"></script>

<div class="col-md-2 filterpanel">
    <div id="compFilter">
        <div class="radio">
            <label>
                <input type="checkbox" id="includeSubItems" data-bind="checked: includeSubItems, click: onIncludeSubItemsClick">Include subunits
            </label>
        </div>
        <div id="jstree_demo_div" data-bind="jstree: { data: data, onTreeChange: onTreeChange }"></div>
    </div>
</div>
<div class="col-md-10">
    <div id="userContent">
    </div>
</div>


<script type="text/javascript">
    $(function () {

        $(document).ready(function () {

            const listTemplate = `/${ADMINISTRATION_USER_PAGE}/List`;
            const detailTemplate = `/${ADMINISTRATION_USER_PAGE}/Details`;
            const urlParams = new URLSearchParams(window.location.search);

            const id = urlParams.get('id') || '';

            const contentElement = document.getElementById("userContent");
            const filterElement = document.getElementById("compFilter");
            const defaultDataVmCnstr = () => new UsersListViewModel(listTemplate);
            const pagevm = new UserPageViewModel(defaultDataVmCnstr, contentElement, filterElement);
            const datavm = id !== "" ? new UserViewModel(detailTemplate, pagevm.menu) : new UsersListViewModel(listTemplate, pagevm.menu);
            pagevm.setDataVM(datavm);

            datavm.init({
                id: urlParams.get('id') || '',
                structureUnitId: urlParams.get('cid') || '',
                includeSubItems: urlParams.get('includeSubItems') || 0
            });

            pagevm.afterReload = function() {
                pagevm.menu.selectedItem(pagevm.dataVM._name === 'details' ? pagevm.dataVM : null);
            };

            pagevm.reload();  
        });
    });
</script>
