<hgroup class="title">
    <h1>Delete license</h1>
</hgroup>
<div id="delete">
    <form data-bind="submit: deleteLicense">
        <div class="validation-summary-errors">
            <ul data-bind="foreach: errors">
                <li>
                    <span data-bind="text: $data"> </span>
                </li>
            </ul>
        </div>
        <fieldset>
            <div style="margin: 15px 0 15px 15px;">
                <span>Delete license </span><span class="itemname" data-bind='text: name'></span><span>?</span>
            </div>
            <div>
                <input type="submit" value="Delete" />
            </div>
        </fieldset>
    </form>
</div>
