<hgroup class="title">
    <h1>Update license</h1>
</hgroup>
@await Html.PartialAsync("AddEditWizard")

<div id="update">
    <form data-bind="submit: updateLicense">
        <div class="validation-summary-errors">
            <ul data-bind="foreach: errors">
                <li>
                    <span data-bind="text: $data"> </span>
                </li>
            </ul>
        </div>
        <fieldset>
            <div data-bind="template: { name: 'AddUpdateSoftwareForm' }"></div>
            <input type="submit" id="submitButton" value="Change" data-bind="visible: showSubmitButton" />
        </fieldset>
    </form>
</div>
