@using SWI.SoftStock.WebApplications.Main.Models

<script type="text/html" id="MachineDetail">
    <tr data-bind="click: onDetailRowClick, css: {info: isSelected()==true}">

        <td>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation">
                        <a role="menuitem" tabindex="2" data-bind="attr: { href: url() }" id="detailsLink">Details</a>
                    </li>
                    <li role="presentation" data-bind='click: menu().onLinkToStructureUnitClick, enable: menu().onLinkToStructureUnitClickEnabled'>
                        <a role="menuitem" tabindex="3" href="/management/machines/LinkToStructureUnit" id="linkToStructureUnitLink">Link to structure unit</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="2" data-bind="attr: { href: availableLicenseUrl() }" id="availbleLicenseLink">Available licenses</a>
                    </li>
                    <li role="presentation" data-bind='click: menu().onLinkToUserClick, enable: menu().onLinkToUserClickEnabled'>
                        <a role="menuitem" tabindex="4" href="/management/machines/LinkToUser" id="linkToUserLink">Link to user</a>
                    </li>
                    <li role="presentation" data-bind='click: menu().onDeleteClick, enable: menu().onDeleteClickEnabled'>
                        <a role="menuitem" tabindex="4" href="/management/machines/Delete" id="deleteLink">Delete</a>
                    </li>
                    <li role="presentation" data-bind='click: menu().onDisableClick, enable: menu().onDisableClickEnabled'>
                        <a role="menuitem" tabindex="4" href="/management/machines/Disable" id="disableLink">Disable</a>
                    </li>
                    <li role="presentation" data-bind='click: menu().onEnableClick, enable: menu().onEnableClickEnabled'>
                        <a role="menuitem" tabindex="4" href="/management/machines/Enable" id="enableLink">Enable</a>
                    </li>
                </ul>
            </div>

        </td>

        <td data-bind="text: name"></td>
        <td data-bind="text: domainUserName"></td>
        <td data-bind="text: domainUserDomainName"></td>
        <td data-bind="text: linkedUserName"></td>
        <td data-bind="text: structureUnitName"></td>
        <td data-bind="text: lastActivity"></td>
        <td>
            <div data-bind="if: enabled">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div data-bind="ifnot: enabled">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        </td>
        <td><a data-bind="text: totalSoftwareCount, attr: { href: '/management/machine/softwares'+'?id=' + machineId()+'&filterType=@((Int32)(LicenseFilterType.Licensed | LicenseFilterType.Unlicensed | LicenseFilterType.ExpiredLicensed))' }" /></td>
        <td><a data-bind="text: licensedSoftwareCount, attr: { href: '/management/machine/softwares'+'?id=' + machineId()+'&filterType=@((Int32)LicenseFilterType.Licensed)' }" /></td>
        <td><a data-bind="text: expiredLicensedSoftwareCount, attr: { href: '/management/machine/softwares'+'?id=' + machineId()+'&filterType=@((Int32)LicenseFilterType.ExpiredLicensed)' }" /></td>
        <td><a data-bind="text: unLicensedSoftwareCount, attr: { href: '/management/machine/softwares'+'?id=' + machineId()+'&filterType=@((Int32)LicenseFilterType.Unlicensed)' }" /></td>
        <td data-bind="text: operationSystemName"></td>
    </tr>
</script>

@await Html.PartialAsync("~/Views/Shared/_PagingPanelTemplate.cshtml")
@await Html.PartialAsync("~/Views/Shared/_ReportPanelTemplate.cshtml")

<div id="machineList">
    <div id="list">
        <div data-bind="template: {name: 'ReportPanel',data: reporting}"></div>
        <table class="table table-striped table-hover" id="machines_table">
            <thead>
                <tr>
                    <th></th>
                    <th id="thName">Name</th>
                    <th id="thDomainUserName">Current domain user</th>
                    <th id="thDomainUserDomainName">Current domain</th>
                    <th id="thLinkedUserName">Linked user</th>
                    <th id="thStructureUnitName">Structure unit</th>
                    <th id="thLastActivity">Last activity</th>
                    <th id="thEnabled">Enabled</th>
                    <th id="thTotalSoftwareCount">Total software</th>
                    <th id="thLicensedSoftwareCount">Licensed software</th>
                    <th id="thExpiredLicensedSoftwareCount">Expired licensed software</th>
                    <th id="thUnLicensedSoftwareCount">Unlicensed software</th>
                    <th id="thOperationSystemName">Operation system</th>
                </tr>
                <tr>

                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="input-group">
                            <div id="btn-group">
                                <button data-toggle="dropdown" class="btn dropdown-toggle" data-placeholder="Please select">Checked option <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <input type="checkbox" id="isEnabled" data-bind='checked: tableFilter.isEnabled'>
                                        <label for="isEnabled">Enabled</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="isDisabled" data-bind='checked: tableFilter.isDisabled'>
                                        <label for="isDisabled">Disabled</label>
                                    </li>
                                </ul>
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="applyFilter" data-bind='click: tableFilter.onApplyClick'><span class="glyphicon glyphicon-filter"></span></button>
                            </span>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody data-bind="template: {
    name: 'MachineDetail',
    foreach: items
}">
            </tbody>
        </table>

        <div data-bind="template: {
    name: 'PagingPanel',
    data: paging
}"></div>
    </div>
</div>
