@using SWI.SoftStock.WebApplications.Main.Models
<script type="text/html" id="SoftwareDetail">
    <tr data-bind="click: onDetailRowClick, css: { info: isSelected() == true }">

        <td>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation">
                        <a role="menuitem" tabindex="2" data-bind="attr: { href: url() }">Details</a>
                    </li>
                </ul>
            </div>

        </td>

        <td data-bind="text: name"></td>
        <td data-bind="text: publisherName"></td>
        <td data-bind="text: version"></td>
        <td>
            <div data-bind="if: systemComponent()=='1'">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </td>
        <td>
            <div data-bind="if: windowsInstaller()=='1'">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </td>
        <td data-bind="text: releaseType"></td>
        <td><a data-bind="text: totalInstallationCount, attr: { href: '/management/software/machines'+'?id=' + softwareId()+'&filterType=@((Int32)(LicenseFilterType.Licensed | LicenseFilterType.Unlicensed))' }" /></td>
        <td><a data-bind="text: licensedInstallationCount, attr: { href: '/management/software/machines'+'?id=' + softwareId()+'&filterType=@((Int32)LicenseFilterType.Licensed)' }" /></td>
        <td><a data-bind="text: unLicensedInstallationCount, attr: { href: '/management/software/machines'+'?id=' + softwareId()+'&filterType=@((Int32)LicenseFilterType.Unlicensed)' }" /></td>
    </tr>
</script>

@await Html.PartialAsync("~/Views/Shared/_PagingPanelTemplate.cshtml")
@await Html.PartialAsync("~/Views/Shared/_ReportPanelTemplate.cshtml")

<div id="softwareList">

    <div id="list">
        <div data-bind="template: {name: 'ReportPanel',data: reporting}"></div>

        <table class="table table-striped table-hover" id="softwares_table">
            <thead>
                <tr>
                    <th></th>
                    <th id="thName">Name</th>
                    <th id="thPublisherName">Publisher</th>
                    <th id="thVersion">Version</th>
                    <th id="thSystemComponent">System component</th>
                    <th id="thWindowsInstaller">Windows installer</th>
                    <th id="thReleaseType">Release type</th>
                    <th id="thTotalInstallationCount">Total installations</th>
                    <th id="thLicensedInstallationCount">Licensed installations</th>
                    <th id="thUnLicensedInstallationCount">Unlicensed installations</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Exact matches only..." data-bind="value: tableFilter.name">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-bind='click: tableFilter.onApplyClick'><span class="glyphicon glyphicon-filter"></span></button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Exact matches only..." data-bind="value: tableFilter.publisherName">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-bind='click: tableFilter.onApplyClick'><span class="glyphicon glyphicon-filter"></span></button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Exact matches only..." data-bind="value: tableFilter.version">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-bind='click: tableFilter.onApplyClick'><span class="glyphicon glyphicon-filter"></span></button>
                            </span>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody data-bind="template: {
    name: 'SoftwareDetail',
    foreach: items
    }"></tbody>
        </table>

        <div data-bind="template: {
        name: 'PagingPanel',
        data: paging
    }"></div>
    </div>
</div>
